{% extends "base.html" %}

{% block title %}Cargar Video - ERGOTECH{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
            <h2 class="my-4 d-flex align-items-center">
                <img src="{{ url_for('static', filename='imagenes/Designer (10).jpeg') }}" alt="Image"
                    class="img-responsive mr-2">
                Cargar Video
            </h2>
            <!-- Fondo semitransparente -->
            <div id="loadingOverlay"></div>

            <!-- Pantalla de carga -->
            <div id="loading" style="display: none;" >
                <img src="/static/imagenes/cargando.gif" alt="Cargando...">
            </div>
            <!-- Botón para subir video -->
            <form id="uploadForm" action="{{ url_for('video_routes.upload_video') }}" method="POST" enctype="multipart/form-data">
                <!-- Combo box para seleccionar el empleado -->
                <div class="form-group mb-4">
                    <label for="empleado">Empleado:</label>
                    <select id="empleado" name="empleado" class="form-control">
                        <option value="" disabled selected>Selecciona un empleado</option>
                        {% for empleado in employees %}
                        <option value="{{ empleado.empleado_id }}">{{ empleado.nombre }} {{ empleado.apellido }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-4">
                    <label for="uploadVideo">Subir Video:</label>
                    <input class="form-control-file" type="file" name="file" accept="video/*" required>
                    <br>
                    <button class="btn btn-primary" type="submit">Subir y Procesar</button>
                </div>
            </form>

            <!-- Combo box para seleccionar el método -->
            <div class="form-group mb-4">
                <label for="metodo">Método:</label>
                <select class="form-control" id="metodo" name="metodo">
                    <option value="OCRA">OCRA</option>
                </select>
            </div>

            <!-- Espacio para visualizar el video -->
            {% if video_url %}
            <div class="form-group mb-4">
                <label for="video">Video Procesado:</label>
                <video id="video" width="640" height="480" controls>
                    <source src="{{ video_url }}" type="video/mp4">
                    Tu navegador no soporta la reproducción de videos.
                </video>
            </div>
            {% endif %}
            <img src="{{ url_for('static', filename='imagenes/mapa_calor_ocra.png') }}" alt="Image"
                class="img-responsive_ocra mr-2">
            <!-- Grid de tabla con datos generales del análisis -->
            <!-- Contenedor principal -->
            <div class="container mt-5">
                <!-- <button class="btn btn-primary mt-2" id="downloadExcel">Descargar Excel</button> -->
                <!-- Botón para descargar el archivo Excel -->
                <div class="col-md-6">
                        <h4>Resultados OCRA</h4>
                        <a href="{{ url_for('video_routes.descargar_json', video_filename=video_filename) }}" class="btn btn-primary">Descargar JSON</a>
                </div>
                <p>
                <div class="col-md-6">
                    <a href="{{ url_for('video_routes.descargar_excel', excel_filename=excel_filename) }}" class="btn btn-primary">Descargar Excel</a>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('uploadForm').addEventListener('submit', function () {
        document.getElementById('loading').style.display = 'block'; // Mostrar pantalla de carga
        document.getElementById('loadingOverlay').style.display = 'block'; // Mostrar el fondo semitransparente
        document.getElementById('uploadForm').style.display = 'none'; // Ocultar el formulario
    });
</script>


{% endblock %}