<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>Welcome to the Application</h1>
        <div class="button-container">
            <a href="{{ url_for('login') }}" class="button">Login</a>
            <a href="{{ url_for('register') }}" class="button">Register</a>
            <a href="{{ url_for('create_empleado_route') }}" class="button">Crear empleado</a>
        </div>
    </div>
</body>
</html>