{% extends "base.html" %}

{% block title %}Registrarse - ERGOTECH{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto register-form-container">
            <h2 class="my-4 d-flex align-items-center">
                <img src="{{ url_for('static', filename='imagenes/registro.png') }}" alt="Image" class="small-image mr-2">
                Registro
            </h2>
            <form action="/registro" method="POST">
                <!-- Mostrar mensajes flash -->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <!-- Campos del formulario -->
                <div class="form-group">
                    <label for="cedula">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo de Usuario:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmar Contraseña:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <div class="form-footer mt-3">
                    <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>
                </div>
            </form>          
        </div>
    </div>
</div>
{% endblock %}
